body{
    background-image: url(../images/camp.jpg);  
    background-size: 100%; 
}

.container{
    background-image: url(../images/random_grey_variations_@2X.png);
    color: yellowgreen;
    margin-top: 50px;
    padding-bottom: 30px;
}

h1{
    color: teal;
    font-size: 80px;
}
#btn-start{
    margin: 150px;
    background-color: teal;
    block-size: 80px;
    width:  300px;
}

.row{
    overflow: auto;
    padding-top: 10px;
    text-align: center;
}
